/* -------------------------------------------------------------------------------------------------------------------
                                                 Default Components
------------------------------------------------------------------------------------------------------------------- */
.fa,
[class*='fa-'] {
  display: inline-block;
  font-family: $font_awesome;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  margin-right: 3px;
}

.header-title {
  h1 {
    color: #3f3f3f;
    line-height: 1;
    padding-bottom: 20px;
  }
}

// Article info: date, author, category, tag.
.post-meta {
  font-size: 12px;
  margin-bottom: 10px;
  .fa {
    font-size: 14px;
  }
  span {
    visibility: hidden;
  }
  time {
    font-style: italic;
  }
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  .tags {
    padding-top: 5px;
  }
}

/* FlexSlider Necessary Styles
------------------------------------------------------------ */
.ml-slider {
  .flexslider {
    position: relative;
    overflow: hidden;
  }

  .slides img {
    width: 100%;
    display: block;
    -moz-user-select: none;
    height: auto;
  }

  .flex-pauseplay span {
    text-transform: capitalize;
  }

  /* Clearfix for the .slides element */
  .slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  html[xmlns] .slides {
    display: block;
  }

  * html .slides {
    height: 1%;
  }

  /* No JavaScript Fallback */
  /* If you are not using another script, such as Modernizr, make sure you
   * include js that eliminates this class on page load */
  .no-js .slides > li:first-child {
    display: block;
  }
}

/* 404 Page
------------------------------------------------------------ */
.error404 .content {
  padding-bottom: 5%;
  text-align: center;
  @include break($mobile) {
    width: 100%;
  }
}

.error404 .content h3 {
  font-size: 190px;
  line-height: 190px;
  font-weight: 700;
  @include break($mobile) {
    line-height: 1;
    font-size: 120px;
  }
  @include break($x-small) {
    font-size: 70px;
  }
}

.error404 .content h2 {
  font-size: 90px;
  line-height: 90px;
  margin-bottom: 40px;
  @include break($mobile) {
    line-height: 1;
    font-size: 60px;
  }
  @include break($x-small) {
    font-size: 40px;
  }
}

.error404 .content p {
  text-align: center;
  font-size: 20px;
  line-height: 29px;
  @include break($mobile) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.error404 .site-inner input[type="text"] {
  padding: 7px 10px 9px;
  width: 190px;
  margin-top: 1px;
}

.error404 .searchform .search-submit {
  float: none;
}

.searchform .searchsubmit {
  line-height: 40px;
  vertical-align: top;
}

/* Post Navigation default.
------------------------------------------------------------ */
.pagination {
  overflow: hidden;
  padding: 20px 0;
  width: 100%;
  h2 {
    display: none;
  }
  .nav-links {
    > * {
      border: 1px solid #ddd;
      display: inline-block;
      padding: 5px 11px;
      margin-right: 4px;
    }
  }
  span {
    background: #b05232;
    color: #fff;
  }
  a {
    &:hover {
      background: #b05232;
      color: #fff;
      text-decoration: none;
    }
  }
}

/* Post Navigation default.
------------------------------------------------------------ */
.pagination-custom {
  overflow: hidden;
  padding-top: 20px;
  > * {
    border: 1px solid #d4d8db;
    display: block;
    float: left;
    font-size: 14px;
    line-height: 38px;
    margin: 0 6px 0 0;
    text-align: center;
    width: 38px;
    font-weight: bold;
    text-decoration: none;
  }
  a {
    color: $color_primary;
    &:hover {
      color: $color_hover;
      border-color: $color_secondary;
      text-decoration: none;
    }
    &:focus,
    &:active {
      text-decoration: none;
    }
  }
  span.current {
    background: none repeat scroll 0 0 $color_secondary;
    border-color: $color_secondary;
    color: #fff;
  }
}

/* Search results.
------------------------------------------------------------ */
.search-results {
  .archive-description {
    display: block;
  }
  article {
    border-bottom: 1px solid #bbb;
    margin-bottom: 20px;
    padding-bottom: 25px;
    overflow: hidden;
  }
  h2 {
    text-align: left;
    a {
      text-decoration: none;
    }
  }
  .featured-thumbnail {
    float: left;
  }
  .entry-content,
  .excerpt {
    overflow: hidden;
    margin-bottom: 10px;
  }
  .details {
    float: right;
  }
}

/* Contact form
------------------------------------------------------------ */
.wpcf7 {
  overflow: hidden;
  p {
    overflow: hidden;
    clear: both;
    margin-bottom: 10px;
  }
  .wpcf7-form-control-wrap {
    display: block;
    position: relative;
  }
  label {
    display: block;
    margin: 0 0 5px;
  }
  .ajax-loader {
    display: block;
  }
  // Error message.
  span.wpcf7-not-valid-tip {
    position: static;
    width: 100%;
    text-transform: uppercase;
    background: url("../images/icons/icon-error.png") #d32f2f no-repeat 10px 16px;
    line-height: 20px;
    padding: 12px 0 12px 30px;
    color: #fff;
  }
  div.wpcf7-response-output {
    margin: 0;
    clear: both;
    padding: 10px 20px;
    text-align: center;
  }
  div.wpcf7-validation-errors {
    background: #fde8b1;
  }
  div.wpcf7-mail-sent-ok {
    background: #ccff99;
    border: 2px solid #398f14;
  }

  .submit {
    float: right;
    clear: none;
    padding: 10px 0 0 0;
  }

  // Captcha row
  .captcha-row {
    float: left;
    br {
      display: none;
    }
    label {
      display: block;
      font-size: 14px;
      margin: 0;
    }
    .captcha {
      max-width: 114px;
    }
  }

  .wpcf7-submit {
    font-weight: bold;
    line-height: 41px;
  }

}

/* Contact info.
------------------------------------------------------------ */
.map.iframe iframe {
  width: 100%;
}

/* Page title.
------------------------------------------------------------ */
.page-title {
  position: relative;
  overflow: hidden;
  .container {
    position: relative;
    @include break($mobile) {
      padding: 0;
    }
  }
  img {
    display: block;
    width: 100%;
  }
  .slogan {
    position: absolute;
    font-size: 30px;
    color: #fff;
    bottom: 0;
    padding: 9px 30px;
    left: 15px;
    .loaded & {
    }
    @include break($neutral) {
      font-size: 26px;
    }
    @include break($mobile) {
      position: static;
      font-size: 20px;
      padding: 9px 15px;
      &::after {
        display: none;
      }
    }
  }
}

/* Breadcrumbs.
------------------------------------------------------------ */
.breadcrumbs {
  background: #f5f7fa;
  margin-bottom: 15px;
  padding: 12px 0 8px;
  font-size: 14px;
  color: #ccc;
  @include break($mobile) {
    padding: 12px 15px 8px;
  }
  .container {
    @include break($mobile) {
      padding: 0;
    }
    > span {
      color: $color_secondary;
      padding-right: 7px;
      a {
        color: $color_secondary;
        &:hover {
          color: #00baff;
          text-decoration: none;
        }
      }
      span {
        color: #00baff;
      }
      + span {
        padding-left: 7px;
      }
    }
  }
}

/* Content social share icons
------------------------------------------------------------ */
.share-networks {
  span {
    color: #a3a6ac;
    font-size: 14px;
    padding-right: 10px;
  }
  a {
    font-size: 18px;
    margin: 0 3px;
    color: #a3a6ac;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: $color_link;
    }
  }
}

/* Isotope.
----------------------------------------------------------- */
#filter-by {
  margin-bottom: 20px;
  background: #d8d8d8;
  a {
    border-right: 1px solid #c8c8c8;
    color: #969696;
    display: block;
    float: left;
    font-size: 16px;
    line-height: 1;
    padding: 15px 45px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease-out 0s;
    @include break($mobile) {
      border: none;
      float: none;
    }
    &:hover,
    &.active {
      background: #b05232;
      color: #fff;
    }
  }
}

#galleryHolder {
  position: relative;
  width: 100%;
  overflow: hidden;
  @include break($medium) {
    padding: 10px 2px 0;
  }
  .isotope {
    margin-left: -30px;
  }
}

.galleryItem {
  position: relative;
  float: left;
  overflow: hidden;
  width: 270px;
  margin: 0 0 20px 30px;
  a {
    border: 1px solid #a6a6a6;
    display: block;
    padding: 7px;
    img {
      max-width: 100%;
      height: auto;
    }
    figcaption {
      text-align: center;
      margin: 10px 0;
      color: inherit;
      text-decoration: none;
    }
    &:hover {
      border-color: #4f4f4f;
    }
  }
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  transition-duration: 0.8s;
}

.isotope {
  transition-property: height, width;
}

.isotope .isotope-item {
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  transition-duration: 0s;
}

/* Post formats.
----------------------------------------------------------- */
.single article,
article.format-standard {
  overflow: hidden;
  padding-bottom: 20px;
  .entry-header {
    h3 {
      border-bottom: 3px solid #d8d8d8;
      margin-bottom: 20px;
      padding-bottom: 15px;
      font-weight: bold;
      font-size: 22px;
      a {
        text-decoration: none;
        &:hover {
          color: #282828;
        }
      }
    }
  }

  .featured-thumbnail {
    float: left;
    margin: 0 30px 20px 0;
    @include break($x-small) {
      float: none;
      margin-right: 0;
      margin-bottom: 10px;
    }
    a {
      display: inline-block;
      overflow: hidden;
    }
  }

  .post-content {
    overflow: hidden;
    .excerpt {
      padding-bottom: 20px;
    }
  }

}

/* Search form.
----------------------------------------------------------- */
.search-form {
  position: relative;
  max-width: 400px;
  .search-field {
  }
  input[type='submit'] {
    background: url("../images/icons/icon-search.png") no-repeat 50% -33px;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    width: 40px;
    height: 100%;
    transition: .3s;
    &:hover {
      background: url("../images/icons/icon-search.png") no-repeat 50% 10px;
    }
  }
}

/* Comments area on the single post page.
----------------------------------------------------------- */
.comments-area {
  margin-top: 40px;
  .comment-list {
    .comment {
      border: 1px solid #dfdfdf;
      padding: 20px;
      margin-bottom: 30px;
    }
    ol.children {
      .comment {
        margin: 20px 0 0 0;
      }
    }
    .comment-awaiting-moderation {
      color: #b05232;
    }
    .comment-meta {
      overflow: hidden;
      b.fn {
        font-weight: bold;
      }
      img {
        float: left;
        margin-right: 20px;
        border-radius: 50%;
      }
      time {
        font-style: italic;
        &:before {
          margin-right: 3px;
          @extend .fa;
          content: "\f133"; // .fa-calendar-o
        }
      }
    }
    .comment-content {
      padding: 15px 0;
    }
    .reply {
      text-align: right;
    }
  }
  .comment-respond {
    .form-allowed-tags {
      font-size: 12px;
    }
    p {
      margin-bottom: 10px;
    }
  }
}
