/* -------------------------------------------------------------------------------------------------------------------
                                                  Header elements
------------------------------------------------------------------------------------------------------------------- */
#logo {
  left: 50%;
  margin-left: -120px;
  position: absolute;
  top: 10px;
  z-index: 4;
  @include break($medium) {
    width: 180px;
    top: 50px;
    margin-left: -90px;
  }
  @include break($neutral) {
    margin-left: -60px;
    top: 7px;
    width: 120px;
  }
  @include break($mobile) {
    position: static;
    margin: auto;
  }
  a {
    display: block;
    @include break($mobile) {
      display: inline;
    }
  }
}

.site-header {
  @include break($mobile) {
    padding: 40px 0 0 0;
    text-align: center;
  }
  .top-elements {
    position: relative;
    color: #d5cfc5;
    text-transform: uppercase;
    font-size: 16px;
    font-family: $roboto_condensed;
    padding-top: 15px;
    padding-bottom: 15px;
    @include break($neutral) {
      font-size: 14px;
    }
    .widget.address {
      float: left;
      @include break($neutral) {
        max-width: 220px;
      }
      @include break($mobile) {
        float: none;
        margin: auto;
      }
    }
    .widget.phone {
      float: right;
      text-align: right;
      strong {
        color: #fff;
      }
      a {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
      }
      @include break($neutral) {
        max-width: 200px;
      }
    }
  }

}

/* Primary menu
------------------------------------------------------------ */
.row-menu {
  @include break($mobile) {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    right: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: #2b1007 none repeat scroll 0 0;
    .container {
      padding: 0;
    }
    // Widget is inside menu row on mobile.
    .widget.phone {
      color: #fff;
      font-weight: 300;
      display: inline-block;
      padding: 9px 0 0;
      a {
        display: none;
      }
      * {
        text-decoration: none;
        padding: 0;
        color: #fff;
      }
      strong {
        font-weight: 600;
      }
    }
  }
}

.header-menu {
  position: relative;
  z-index: 3;
  background: url(../images/menu-bg.png) repeat-x;
  border-radius: 5px;
  margin: 0 0 20px 0;
  box-shadow: 2px 0 2px #c2902d inset, -2px 0 2px #c2902d inset;
  // Common styles.
  .main-menu {
    li {
      position: relative;
      display: block;
      z-index: 2;
      a {
        text-decoration: none;
        position: relative;
        color: $color_link;
        text-transform: uppercase;
        font-family: $oswald;
        @include break($neutral) {
          text-transform: capitalize;
        }
      }
    }
    // 1st level menus.
    > li {
      float: left;
      background: url("../images/menu-sep.png") no-repeat;
      &:first-child {
        background: none;
      }
      > a {
        font-size: 16px;
        height: 72px;
        padding: 0 20px;
        display: table-cell;
        vertical-align: middle;
        max-width: 160px;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
        @include break($medium) {
          padding: 0 11px;
          font-size: 13px;
        }
        @include break($neutral) {
          font-size: 14px;
          padding: 0 11px;
        }
      }
      &.current_page_item,
      &.current-page-ancestor {
        > a {
          color: $yellow;
        }
      }
      &:hover {
        > a {
          color: $color_hover;
        }
      }
      // Shift last items to the right side, so logo will split menu row into equal 2 halves.
      &#menu-item-48 {
        margin-left: 266px;
        background: none;
        @include break($medium) {
          margin-left: 199px;
        }
        @include break($neutral) {
          margin-left: 0;
          background: url("../images/menu-sep.png") no-repeat;
        }
      }
    }
  }
  // 2nd Level.
  ul.sub-menu {
    background: #181818;
    display: none;
    padding: 10px 20px;
    position: absolute;
    top: 55px;
    width: auto;
    min-width: 170px;
    z-index: 2;
    li {
      padding: 2px 0;
      &.current_page_item a {
        color: $yellow;
        &::before {
          width: 4px;
        }
      }
    }
    a {
      font-family: $roboto_condensed;
      font-size: 15px;
      white-space: nowrap;
      @include break($neutral) {
        font-size: 13px;
      }
      &::before {
        content: '';
        width: 0;
        height: 28px;
        background: $yellow;
        position: absolute;
        top: -5px;
        left: -20px;
        display: block;
        transition: .3s;
      }
      &:hover {
        color: $color_hover;
        &::before {
          width: 4px;
        }
      }
    }
    // 3rd level.
    ul {
    }
  }

  @include break($mobile) {
    display: none;
  }
}

/* Mobile menu toggle icon.
------------------------------------------------------------ */
.mobile-menu-icon {
  background-color: $yellow;
  display: none;
  height: 100%;
  width: 60px;
  z-index: 10;
  color: #fff;
  text-align: center;
  font-size: 40px;
  text-decoration: none;
  float: left;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
  @include break($mobile) {
    display: block;
  }
  i {
    margin: 0;
  }
  .fa-bars {
    display: block;
  }
  .fa-times {
    display: none;
  }
  .mm-opened & {
    .fa-bars {
      display: none;
    }
    .fa-times {
      display: block;
    }
  }
}

/* Mobile menu theme overrides.
------------------------------------------------------------ */
.mm-menu {
  background: $color_secondary;
  color: #d2d2d2;
  .mm-listview {
    // Menu item.
    li a,
    li span {
      padding: 8px 10px 8px 20px;
      -webkit-tap-highlight-color: $yellow;
    }
    // Next arrow color.
    > li > a.mm-prev::before,
    > li > a.mm-next::after {
      border-color: #fff;
    }
  }
  // Active item.
  li.current_page_item > a,
  li.current-menu-item > a {
    color: #fff;
  }

  // Header menu item.
  .mm-header {
    > a {
      color: #d2d2d2;
    }
    // Slide back arrow.
    .mm-btn {
      background: $color_link;
      &::before,
      &::after {
        border-color: #fff;
      }
    }
  }

}

/* Mobile top fixed floating row
------------------------------------------------------------ */
.mobile-top {
  position: fixed;
  z-index: 3;
  top: 0;
  height: 45px;
  background: #161616;
  display: none;
  width: 100%;
  box-shadow: 0 0 10px #000;
  transition: .5s;
  // Apply manual shift for the row to fix indent in safari.
  &.act {
    //left: 440px;
  }
  @include break($mobile) {
    display: block;
  }
}

.slider-links {
  bottom: 27px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  @include break($medium) {
    bottom: 21px;
  }
  @include break($neutral) {
    bottom: 14px;
  }
  @include break($mobile) {
    position: static;
    padding-top: 40px;
    .block {
      margin-top: 5px;
    }
  }
  p {
    padding: 0;
  }
  a {
    font-family: $oswald;
    font-size: 14px;
    color: #dbccab;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    @include break($neutral) {
      font-size: 13px;
      text-transform: capitalize;
    }
    @include break($mobile) {
      text-transform: uppercase;
    }
    &:hover,
    &:focus,
    &:active {
      color: $yellow;
      text-decoration: none;
    }
    &::before,
    &::after {
      position: absolute;
      top: 0;
      content: '';
      background: url(../images/icon-star.png);
      width: 19px;
      height: 19px;
      @include break($neutral) {
        display: none;
      }
      @include break($mobile) {
        display: block;
      }
    }
    &::before {
      left: -30px;
    }
    &::after {
      right: -30px;
    }
  }
}