/* -------------------------------------------------------------------------------------------------------------------
                                                  Header elements
------------------------------------------------------------------------------------------------------------------- */
.site-header {

	p {
		padding: 0;
	}

	.site-logo {
		float: left;
		padding: 10px 0 0;
		@include break($neutral) {
			width: 240px;
		}
		@include break($mobile) {
			text-align: center;
			float: none;
			padding: 10px 0;
			width: auto;
		}
		> a {
			display: block;
			text-decoration: none;
		}
	}

	// Fixed scrolling row on mobile.
	.row-mobile {
		position: fixed;
		height: 38px;
		background: $blue;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 100;
		.icons-mobile {
			text-align: right;
			padding: 0 15px 0 0;
			a {
				margin-left: 10px;
				color: #fff;
				font-size: 26px;
			}
		}
	}

	// Logo & text blocks.
	.row-top {
		@include clearfix();
		background: #f1f1f1;
		padding: 20px 0;
		@include break($mobile) {
			padding-top: 50px;
		}
	}

	// Phone widget first.
	.widget.phone01 {
		float: right;
		@include font(21px, 32px, #39414c, 700);
		text-transform: uppercase;
		font-family: $open_sans_condensed;
		opacity: 0;
		transform: translateY(-50px);
		.loaded & {
			transition: all 0.3s ease-out;
			opacity: 1;
			transform: translateY(0);
		}
		@include break($medium) {
			font-size: 16px;
		}
		@include break($neutral) {
			font-size: 14px;
		}
		@include break($mobile) {
			display: none;
		}
		strong {
			display: block;
			color: $orange;
			font-size: 32px;
			line-height: 1;
			@include break($medium) {
				font-size: 21px;
			}
			@include break($neutral) {
				font-size: 15px;
			}

		}
		a {
			color: $orange;
			text-decoration: none;
		}
	}

	// Phone widget second
	.widget.phone02 {
		float: right;
		padding-left: 55px;
		@include font(21px, 32px, #39414c, 700);
		text-transform: uppercase;
		font-family: $open_sans_condensed;
		opacity: 0;
		transform: translateY(-50px);
		.loaded & {
			transition: all 0.3s ease-out .1s;
			opacity: 1;
			transform: translateY(0);
		}
		@include break($medium) {
			font-size: 16px;
		}
		@include break($neutral) {
			font-size: 14px;
		}
		@include break($mobile) {
			display: none;
		}
		a {
			@include font(32px, 1, #ef783d, 700);
			text-decoration: none;
			display: block;
			@include break($medium) {
				font-size: 21px;
			}
			@include break($neutral) {
				font-size: 15px;
			}
		}
	}

}

/* Primary menu.
------------------------------------------------------------ */
.row-menu {
	background: $blue;
}

.header-menu {
	position: relative;
	z-index: 6;
	// Common styles.
	.main-menu {
		li {
			display: block;
			z-index: 2;
			position: relative;
			a {
				text-decoration: none;
				position: relative;
				display: block;
				font-family: $open_sans_condensed;
				text-transform: uppercase;
			}
		}
		// 1st level menus.
		> li {
			float: left;
			> a {
				@include font(23px, 54px, #d9dfe5, 700);
				padding: 0 27px;
				letter-spacing: 0.25px;
				@include break($large) {
					font-size: 21px;
				}
				@include break($medium) {
					font-size: 16px;
				}
				@include break($neutral) {
					padding: 0 15px;
					text-transform: capitalize;
				}
				&.sf-with-ul {
					// Bottom arrow.
					&::after {
						content: "\f107";
						font-family: $font_awesome;
						position: absolute;
						color: #3176bb;
						top: 50%;
						right: 10px;
						margin-top: -10px;
						font-size: 22px;
						line-height: 1;
						font-weight: 400;
						@include break($neutral) {
							display: none;
						}
					}
				}
				// Hover root item.
				&:hover,
				&:focus {
					background: #3176bb;
					color: #fff;
					&::after {
						color: #fff;
					}
				}
			}

			// Parent root menu item.
			&.menu-item-has-children {
				// Keep activity for the root item while viewing dropdown.
				&.sfHover > a {
					background: #3176bb;
					color: #fff;
					&::after {
						color: #fff;
					}
				}
			}

			// Active root menu item.
			&.current_page_item,
			&.current-menu-item,
			&.current-page-ancestor,
			&.current-menu-ancestor {
				> a {
					color: #fff;
					background: $orange;
					&::after {
						color: #fff;
					}
				}
			}

			// Animate dropdown menu.
			&.sfHover,
			&:hover {
				> ul.sub-menu {
					transform: translateY(0);
					opacity: 1;
					visibility: visible;
				}
			}

			// 2nd Level.
			> ul.sub-menu {
				background: #3176bb;
				padding: 2px;
				display: none;
				position: absolute;
				top: 51px;
				z-index: 2;
				width: 240px;
				opacity: 0;
				visibility: hidden;
				transition: all .4s ease-out;
				transform: translateY(30px);
				@include break($medium) {
				}
				> li {
					background: #2266a9;
					margin-bottom: 1px;
					// Current sub menu item.
					&.current_page_item > a,
					&.current-menu-ancestor > a,
					&.current-menu-item > a {
						color: #fff;
						background: $blue;
					}
					> a {
						padding: 7px 0 7px 18px;
						color: #d9dfe5;
						font-size: 15px;
						@include break($medium) {
							font-size: 14px;
						}
						@include break($neutral) {
							font-size: 13px;
						}
						// Hover sub menu item.
						&:hover {
							color: #e9eef3;
							background: $blue;
						}
					}
				}
			}
		}
	}

}

/* Mobile menu toggle icon.
------------------------------------------------------------ */
.mobile-menu-icon {
	display: none;
	height: 100%;
	width: 50px;
	z-index: 10;
	color: #fff;
	text-align: center;
	font-size: 38px;
	text-decoration: none;
	position: absolute;
	left: 0;
	top: 0;
	background: $orange;
	-webkit-tap-highlight-color: $light_blue;
	&:hover,
	&:focus,
	&:active {
		color: #fff;
	}
	@include break($mobile) {
		display: block;
	}
	i {
		margin: 0;
	}
	.fa-bars {
		display: block;
	}
	.fa-times {
		display: none;
	}
	.mm-opened & {
		.fa-bars {
			display: none;
		}
		.fa-times {
			display: block;
		}
	}
}

/* Mobile menu theme overrides.
------------------------------------------------------------ */
.mm-menu {
	color: $orange;

	.mm-listview {

		// Next arrow
		.mm-next {
			background: $orange;
		}

		// Menu item.
		li a,
		li span {
			color: $light_blue;
			padding: 8px 10px 8px 20px;
			-webkit-tap-highlight-color: $orange;
			//font-size: 16px;
		}
		// Next arrow color.
		> li > a.mm-prev::before,
		> li > a.mm-next::after {
			border-color: #fff;
		}
	}
	// Active item.
	li.current-menu-ancestor > a,
	li.current_page_item > a,
	li.current-menu-item > a {
		color: $orange;
		font-weight: bold;
	}

	// Header menu item.
	.mm-header {
		> a {
			color: $light_blue;
			font-size: 16px;
		}
		// Slide back arrow.
		.mm-btn {
			background: $light_blue;
			&::before,
			&::after {
				border-color: #fff;
			}
		}
	}

}
