/* Main Theme Styles file */
// Major components.
@import "reset";
@import "variables";
@import "functional";
@import "header";
@import "slider_theme";
@import "owl.carousel.core";
@import "magnific_popup";

/* -------------------------------------------------------------------------------------------------------------------
                                                  General elements
------------------------------------------------------------------------------------------------------------------- */
* {
	box-sizing: border-box;
}

body {
	font-family: $open_sans;
	@include font(16px);
	background: #fff;
	@include break($medium) {
		font-size: 15px;
	}
	@include break($mobile) {
		font-size: 14px;
	}
}

img {
	max-width: 100%;
	height: auto;
}

p {
	padding-bottom: 10px;
}

a {
	color: $blue;
	text-decoration: underline;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	&:hover {
		outline: none;
		text-decoration: none;
		color: $blue;
	}
	&:focus {
		outline: none;
	}
	&[href^='tel:'] {
		cursor: default;
		color: inherit;
		text-decoration: none;
	}
}

strong {
	font-weight: 700;
}

iframe {
	max-width: 100%;
}

blockquote {
	color: $color_secondary;
	border-left: 1px solid #e5e5e5;
	margin: 0 0 15px 60px;
	padding: 0 0 0 20px;
	position: relative;
	p {
		padding: 0;
	}
	&::before {
		content: "\f10d";
		font-family: $font_awesome;
		position: absolute;
		top: -5px;
		font-size: 40px;
		left: -55px;
		color: #e5e5e5;
	}
}

.clear {
	@include clearfix();
}

.site-preloader {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 101;
	background: $white_light url("../images/balls.svg") no-repeat 50% 50%;
	text-align: center;
	// Enable preloader for mobile only.
	@include break($not-mobile) {
		display: none;
	}
	.loaded & {
		opacity: 0;
		z-index: -1;
	}
}

/* General site layout controls.
------------------------------------------------------------ */
.site-all {

}

#content {
	position: relative;
	z-index: 1;
}

.site-content {
	position: relative;
	clear: both;
	.not-home & {
		padding: 40px 0;
	}
}

.main-column {
	@include clearfix();
}

@include break($neutral) {
	div[class*='col-md-'] + div[class*='col-md-'] {
		margin-top: 20px;
	}
}

// Mobile rules.
@include break($mobile) {
	// Spacing below repeated columns.
	[class*='col-'] {
		margin-top: 20px;
		&:first-child,
		.list + .list {
			margin-top: 0;
		}
	}

}

/* Buttons & Links
------------------------------------------------------------ */
// Default button.
.btn,
.button,
.posts-navigation a,
.pagination-custom a.custom {
	font-family: $open_sans;
	font-size: 14px;
	line-height: 1;
	color: #fff;
	display: inline-block;
	text-transform: uppercase;
	border: none;
	padding: .9em 2em;
	position: relative;
	text-decoration: none;
	border-radius: 4px;
	background: #322732;
	outline: none;
	text-align: center;
	@include break($medium) {
		font-size: 13px;
	}
	@include break($mobile) {
		font-size: 12px;
	}
	&:hover,
	&:active {
		color: #fff;
		background: #aa3d65;
		text-decoration: none;
	}
	&:active {
		top: 2px;
	}
	// Spacing if more than 1 item.
	+ a {
		margin-left: 10px;
	}
}

// Custom button.
.btn-custom {
	color: #e5eaff;
	font-size: 14px;
	line-height: 1;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	padding: 10px 20px;
	background: #9d1f4d;
	border-radius: 5px;
	text-decoration: none;
	margin-top: 10px;
	&:hover {
		background: #e5eaff;
		color: #631a35;
	}
}

// Primary link.
.link,
.details {
	color: $blue;
	font-style: italic;
	font-size: 16px;
	position: relative;
	text-decoration: none;
	display: inline-block;
	overflow: hidden;
	padding-bottom: 2px;
	// Underline transition effects.
	&:after,
	&:before {
		content: "";
		bottom: 0;
		left: 0;
		height: 1px;
		width: 100%;
		position: absolute;
		transition: all 0.5s ease;
	}
	&:after {
		background: #aaa;
		transform: translate(0, 0);
	}
	&:before {
		background: $blue;
		transform: translate(300px, 0);
	}
	&:hover {
		color: $blue;
		text-decoration: none;
		&:after {
			transform: translate(300px, 0);
		}
		&:before {
			transform: translate(0, 0);
		}
	}
}

// Custom link.
.more {
	font-family: $open_sans_condensed;
	@include font(16px, 1.5, #fff, 700);
	text-transform: uppercase;
	display: inline-block;
	@include break($mobile) {
		font-size: 14px;
	}
	&:hover {
		color: #fff;
		text-decoration: none;
	}
}

/* Default lists */
.list ul,
.entry-content ul,
ul.list {
	li {
		padding: 0 0 7px 20px;
		position: relative;
		&::before {
			content: '';
			width: 10px;
			height: 10px;
			position: absolute;
			top: 8px;
			left: 0;
			background: $orange;
			border-radius: 50%;
		}
		ul {
			margin: 15px 0 0 0;
			li {
				font-size: 14px;
				padding-bottom: 5px;
			}
		}
		a {
		}
	}
}

/* Numbered list */
.list ol,
.entry-content ol,
ol.list {
	list-style: inside decimal;
	padding-bottom: 10px;
	li {
		padding-left: 0;
		line-height: 1.5;
		padding-bottom: 10px;
		ol {
			font-size: 13px;
			padding: 6px 0 6px 14px;
		}
	}
	.text-indent {
		padding-left: 35px;
	}
}

/* Back to top main button.
----------------------------------------------------------- */
#back_to_top {
	position: fixed;
	right: 10px;
	bottom: 10px;
	color: #fff;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	display: none;
	font-size: 25px;
	line-height: 50px;
	width: 50px;
	height: 50px;
	z-index: 4;
	transition: .2s;
	&:hover {
		background: rgba(0, 0, 0, 0.7);
	}
	.touch & {
		display: none;
		z-index: -1;
	}
}

// Back to top content button.
.back_to_top {
	cursor: pointer;
	text-transform: uppercase;
	font-size: 12px;
	color: #2b439b;
	display: block;
	font-weight: bold;
	margin-top: 15px;
	i {
		color: $orange;
		margin-right: 5px;
		font-size: 14px;
	}
}

/* Default classes.
------------------------------------------------------------ */
.wrapper {
	//overflow: hidden;
	@include clearfix();
}

.spacer {
	clear: both;
	float: none;
	height: 20px;
}

/* Form fields.
------------------------------------------------------------ */
.site {
	input[type='text'],
	input[type='email'],
	input[type='password'],
	input[type='tel'],
	input[type='url'],
	input[type='search'],
	input[type='date'],
	textarea,
	select {
		font-family: $open_sans;
		font-size: 14px;
		font-weight: 400;
		outline: none;
		color: #202020;
		background: none;
		box-sizing: border-box;
		border: 1px solid #d6d6d6;
		display: block;
		padding: 10px 15px;
		width: 100%;
		border-radius: 5px;
		&:hover {
			border-color: #bbb;
		}
		&:focus {
			border-color: #aaa;
		}
	}

	input[type='text'],
	input[type='email'],
	input[type='password'],
	input[type='tel'],
	input[type='url'],
	input[type='search'] {
	}

	textarea {
		max-height: 90px;
		padding: 15px;
		overflow: auto;
	}

	select {
		padding: 4px 5px;
		height: 32px;
	}

}

/* Tafeatured-thumbnails inside content pages.
------------------------------------------------------------ */
article,
.table {
	table {
		width: 100%;
		margin-bottom: 30px;
		tr {
			background: #ededed;
			border-bottom: 1px solid #fff;
			&:nth-child(2n+1) {
				background: #f7f7f7;
			}
			&:hover {
				background: darken($white_light, 10%);
			}
			> *:first-child {
				text-align: left;
				border-left: none;
			}
		}
		th {
			padding: 5px 5px 5px 20px;
			font-size: 18px;
			font-weight: 600;
			border-left: 1px solid #fff;
			color: #fff;
			background: $color_link;
			@include break($x-small) {
				padding-left: 10px;
				font-size: 15px;
				white-space: nowrap;
			}
		}
		td {
			font-size: 14px;
			color: #202020;
			border-left: 1px solid #fff;
			padding: 5px 5px 5px 20px;
		}
	}
}

div.table {
	overflow-x: auto;
	margin-bottom: 30px;
}

/* Images.
------------------------------------------------------------ */
.wp-post-image {
}

.alignleft {
	float: left;
	display: block;
	margin: 0 15px 10px 0;
	@include break($neutral) {
		float: none;
		display: block;
		margin-right: 0;
	}
}

.alignright {
	float: right;
	margin: 0 0 10px 15px;
	@include break($neutral) {
		float: none;
		display: block;
		margin-left: 0;
	}
}

.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

img.border {
	padding: 5px;
	border: 1px solid #c3c3c3;
	border-radius: 2px;
}

.featured-thumbnail {
	figcaption {
		margin-top: 10px;
	}
}

/* Page layouts.
------------------------------------------------------------ */

/* Titles
------------------------------------------------------------ */
h1 {
	@include font(42px, 1, #fff, 700);
	font-style: italic;
	@include break($large) {
		font-size: 38px;
	}
	@include break($medium) {
		font-size: 32px;
	}
	@include break($neutral) {
		font-size: 28px;
	}
	@include break($mobile) {
		font-size: 22px;
		color: $color_primary;
	}
}

h2 {
	font-family: $open_sans_condensed;
	@include font(28px, 1.2, #f1f1f1, 700);
	text-transform: uppercase;
	padding-bottom: 1em;
	&::before {
		content: '///';
		font-family: $open_sans;
		color: $orange;
		letter-spacing: -0.1em;
		margin-right: 7px;
	}
	@include break($medium) {
		font-size: 24px;
	}
	.not-home & {
		color: $blue;
	}
}

h3 {
	font-family: $open_sans_condensed;
	@include font(24px, 1.2, $blue, 700);
	padding-bottom: .6em;
	&::before {
		content: '///';
		font-family: $open_sans;
		color: $orange;
		letter-spacing: -0.1em;
		margin-right: 4px;
	}
	@include break($medium) {
		font-size: 21px;
	}
	@include break($mobile) {
		font-size: 18px;
	}
	.not-home & {
	}
}

h4 {
	@include font(24px, 1.2, #181a1e, 300);
	padding-bottom: .7em;
	@include break($medium) {
		font-size: 21px;
	}
	@include break($mobile) {
		font-size: 19px;
	}
}

h5 {
	font-family: $open_sans_condensed;
	text-transform: uppercase;
	padding-bottom: .5em;
	@include font(20px, 1.2, #181a1e, 700);
	@include break($medium) {
		font-size: 18px;
	}
	@include break($mobile) {
		font-size: 16px;
	}
}

/* -------------------------------------------------------------------------------------------------------------------
                                                  Sidebar section
------------------------------------------------------------------------------------------------------------------- */
.sidebar {
	position: relative;
	z-index: 1;
	.widget {
		margin-bottom: 10px;
		&.widget-last {
			margin-bottom: 0;
		}
	}
}

.sidebar-right {
	.widget-title {
		display: none;
	}
}

/* -------------------------------------------------------------------------------------------------------------------
                                                  Custom blocks & decor
------------------------------------------------------------------------------------------------------------------- */
/* Decorated contact form.
------------------------------------------------------------ */
.form-decor {
	padding: 20px;
	background: #181a1e;
	border-radius: 4px;
	@include break($medium) {
		padding: 10px 15px;
	}
	input[type='text'],
	input[type='email'],
	input[type='password'],
	input[type='tel'],
	input[type='url'],
	input[type='search'],
	input[type='date'],
	textarea,
	select {
		color: #eee;
		border: 1px solid #2f435c;
		&:hover {
			border-color: #3176bb;
		}
		&:focus {
			border-color: #3176bb;
		}
	}
	.title {
		text-align: center;
		color: #eee;
		text-transform: uppercase;
		padding: 10px 0 25px;
		@include break($medium) {
			padding: 5px 0 12px;
		}
		div {
			font-size: 22px;
			font-weight: 300;
			@include break($medium) {
				font-size: 18px;
			}
			strong {
				font-weight: 700;
				em {
					color: $orange;
					font-style: normal;
				}
			}
		}
		span {
			font-family: $open_sans_condensed;
			font-size: 16px;
			font-weight: 700;
		}
	}

	.wpcf7-submit {
		margin: 0 auto;
		float: none;
	}
}

.row-slider {
	.container {
		position: relative;
	}
	.form-decor {
		position: absolute;
		right: 0;
		bottom: 0;
		background: #181a1e;
		z-index: 3;
		border-radius: 4px 4px 0 0;
		width: 33%;
		opacity: 0;
		transform: translateX(100px);
		// Animate form on page load.
		.loaded & {
			transition: all 0.5s ease-out;
			opacity: 1;
			transform: translateX(0);
		}
		@include break($neutral) {
			position: static;
			margin: 30px 0;
			border-radius: 4px;
			width: 100%;
		}

		textarea {
			@include break($large) {
				height: 50px;
			}
		}

		// Inline field notification.
		span.wpcf7-not-valid-tip {
			position: absolute;
			font-size: 0;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border: 1px solid $red;
			border-radius: 4px;
		}

		// Main notification.
		div.wpcf7-validation-errors {
			position: absolute;
			bottom: -62px;
			left: 0;
			right: 0;
			@include break($large) {
				bottom: -52px;
			}
			@include break($neutral) {
				position: static;
			}
		}
	}
}

.row-top {
	padding: 4% 0;
	background: #f1f1f1;
	@include break($mobile) {
		padding: 20px 0;
	}
}

/* Services blocks.
------------------------------------------------------------ */
.services-list {
	width: auto;
	@include break(1600) {
		padding-left: 40px;
		padding-right: 40px;
	}
	.item {
		color: #39414c;
		padding: 0 15px;
		a {
			text-decoration: none;
			display: block;
			color: #39414c;
			.featured-thumbnail {
				margin: 5px 0 10px;
				img {
					width: 100%;
				}
			}
			&:hover {
				h3 {
					color: $orange;
				}
				img {
					box-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
				}
			}
		}
	}
	// Prev / next arrows.
	.owl-nav div {
		position: absolute;
		z-index: 3;
		font-size: 0;
		top: 50%;
		margin-top: -12px;
		display: block;
		cursor: pointer;
		color: #cbcbcb;
		&::before {
			font-family: $font_awesome;
			font-size: 24px;
			line-height: 1;
		}
		.non-touch &:hover {
			color: $orange;
		}
		&.owl-prev {
			left: -60px;
			&::before {
				content: '\f053';
			}
			@include break(1600) {
				left: 10px;
			}
			@include break($mobile) {
			}
		}
		&.owl-next {
			right: -60px;
			&::before {
				content: '\f054';
			}
			@include break(1600) {
				right: 10px;
			}
		}
	}
}

/* Blue background row on the home page.
------------------------------------------------------------ */
.row-blue {
	padding: 4% 0;
	text-align: center;
	position: relative;
	background: #2f73b8;
	background: linear-gradient(to bottom, $blue, #2f73b8);
	@include break($mobile) {
		padding: 20px 0;
	}
	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: url("../images/metal-roofing-experts-bg-videos.png") no-repeat 0 100%;
	}
	.container {
		position: relative;
		z-index: 1;
	}
	.item {
		.featured-thumbnail a {
			position: relative;
			overflow: hidden;
			margin-bottom: 10px;
			display: block;
			&::after {
				content: '';
				display: block;
				background: url("../images/youtube.png");
				width: 89px;
				height: 66px;
				position: absolute;
				top: 50%;
				margin-top: -33px;
				left: 50%;
				margin-left: -45px;
				opacity: 0;
				transform: scale(.9);
				transition: .3s;
			}
			img {
				border-radius: 2px;
				box-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
			}

			// Hover item.
			&:hover::after {
				opacity: 1;
				transform: scale(1);
			}
		}
		strong {
			@include font(16px, 1, #fff, 700);
			text-shadow: 0 0 3px rgba(0, 0, 0, .5);
		}
	}
}

/* Grey background row on the home page.
------------------------------------------------------------ */
.row-grey {
	padding: 4% 0;
	position: relative;
	background: #616469;
	background: linear-gradient(to bottom, #181a1e, #616469);
	@include break($mobile) {
		padding: 20px 0;
	}
	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: url("../images/metal-roofing-experts-bg-testimonials.png") no-repeat 100% 100%;
	}
	h2 {
		position: relative;
	}
	.testimonials-list {
		width: 50%;
		@include break($neutral) {
			width: 100%;
		}
		.item {
			padding: 0 10px 20px 10px;
			//margin-left: -10px;
			font-size: 16px;
			color: #f1f1f1;
			font-style: italic;
			.title {
				padding-top: 10px;
			}
		}
		.owl-dots {
			position: absolute;
			right: 25px;
			bottom: 20px;
			font-size: 0;
			> div {
				display: inline-block;
				span {
					margin: 0 5px;
					width: 9px;
					height: 9px;
					display: block;
					background: #989ca2;
					border-radius: 50%;
					position: relative;
				}
				&.active,
				&:hover {
					span {
						margin: 0 4px;
						width: 11px;
						height: 11px;
						background: #fff;
						position: relative;
						top: 1px;
					}
				}
			}
		}
	}
	.more {
		margin-top: 25px;
		position: relative;
	}
}

/* Logotypes carousel inside bottom row on the home page.
------------------------------------------------------------ */
.row-bottom {
	padding: 4% 0;
	position: relative;
	h2 {
		color: $blue;
	}
	.logotypes-list {
		width: auto;
		.item {
			text-align: center;
			padding: 0 5px;
		}
		// Prev / next arrows.
		.owl-nav {
			position: absolute;
			z-index: 3;
			font-size: 0;
			top: -80px;
			right: 0;
			color: #cbcbcb;
			border: 1px solid #e5e5e5;
			overflow: hidden;
			@include break($neutral) {
				top: -50px;
				right: 20px;
			}
			div {
				float: left;
				&::before {
					display: block;
					font-family: $font_awesome;
					font-size: 24px;
					line-height: 50px;
					width: 50px;
					text-align: center;
					@include break($neutral) {
						width: 30px;
						line-height: 30px;
						font-size: 16px;
					}
				}
				.non-touch &:hover {
					color: $orange;
				}
				&.owl-prev {
					border-right: 1px solid #e5e5e5;
					&::before {
						content: '\f053';
					}
				}
				&.owl-next {
					&::before {
						content: '\f054';
					}
				}
			}
		}
	}
}

/* -------------------------------------------------------------------------------------------------------------------
                                                  Pages & Content types
------------------------------------------------------------------------------------------------------------------- */
/* Logotypes page.
------------------------------------------------------------ */
.not-home .logotypes-list {
	.item {
		text-align: center;
		padding-bottom: 30px;
		@include break($mobile) {
			margin-top: 0;
		}
		@include break($x-small) {
			width: 100%;
		}
		img {
			max-height: 120px;
		}
	}
}

/* Services page.
------------------------------------------------------------ */
.not-home .services-list {
	padding: 0;
	.item {
		padding-bottom: 30px;
		margin: 0;
	}
}

/* Video page.
------------------------------------------------------------ */
.videos-list {
	.item {
		border-bottom: 2px solid $orange;
		padding-bottom: 35px;
		margin-bottom: 45px;
		&:last-child {
			margin: 0;
			padding: 0;
			border: none;
		}
		.video {
			padding-bottom: 10px;
			iframe {
				width: 100%;
			}
		}
	}
}

/* Testimonials page.
------------------------------------------------------------ */
.not-home .testimonials-list {
	.item {
		padding: 0 0 30px;
		overflow: hidden;
		.featured-thumbnail {
			float: left;
			max-width: 35%;
			@include break($mobile) {
				max-width: 100%;
				float: none;
				padding-bottom: 20px;
			}
		}
		.wrap-info {
			position: relative;
			padding-left: 90px;
			overflow: hidden;
			font-style: italic;
			@include break($mobile) {
				margin-left: -30px;
			}
			&::before {
				font-family: $font_awesome;
				content: "\f10d";
				font-size: 40px;
				color: #dfdfdf;
				line-height: 1;
				font-style: normal;
				position: absolute;
				top: 5px;
				left: 30px;
			}
		}
		.title {
			padding-top: 10px;
			font-weight: 700;
		}
	}
}

/* Contact page.
------------------------------------------------------------ */
.page-contact {
	.block-map iframe {
		width: 100%;
		background: url("../images/rolling.svg") no-repeat 50% 50%;
		max-height: 410px;
		@include break($mobile) {
			max-height: 250px;
		}
	}
}

/* -------------------------------------------------------------------------------------------------------------------
                                              Content output via shortcodes
------------------------------------------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------------------------------------------
                                                  Footer
------------------------------------------------------------------------------------------------------------------- */
.site-footer {

	.row-footer-blocks {
		padding: 4% 0 3%;
		background: #f1f1f1;
		@include clearfix();
		@include break($neutral) {
			font-size: 13px;
		}
		@include break($mobile) {
			padding: 20px 0;
			text-align: center;
		}

		h5 {
			@include font(22px, 1.2, $blue, 700);
			position: relative;
			@include break($neutral) {
				font-size: 16px;
			}
			&::before {
				content: '///';
				font-family: $open_sans;
				color: $orange;
				letter-spacing: -0.1em;
				margin-right: 4px;
			}
		}

		p {
			padding-bottom: 5px;
		}

		// Logo.
		.widget.logo {
			float: left;
			padding-top: 25px;
			@include break($neutral) {
				width: 240px;
			}
			@include break($mobile) {
				float: none;
				width: auto;
			}
		}

		// Social icons.
		.widget.social-icons {
			float: right;
			@include break($mobile) {
				float: none;
				padding-top: 20px;
			}
			a {
				text-decoration: none;
				font-size: 0;
				display: inline-block;
				margin-right: 20px;
				color: #2f2f2f;
				&:last-child {
					margin-right: 0;
				}
				i {
					line-height: 1;
					font-size: 26px;
					@include break($neutral) {
						font-size: 20px;
					}
				}
				&:hover {
					color: $orange;
				}
			}
		}

		// Office widget.
		.widget.office {
			float: right;
			color: #2f2f2f;
			padding: 0 70px 0 0;
			text-transform: uppercase;
			a {
				color: $orange;
				font-size: 1.66em;
				font-weight: 700;
			}
			@include break($mobile) {
				float: none;
				padding: 20px 0 0 0;
			}
		}

	}

	.row-copyright {
		background: #181a1e;
		color: #d0d0d0;
		font-size: 14px;
		font-weight: 300;
		padding: 20px 0 15px;
		@include clearfix();
		@include break($neutral) {
			font-size: 12px;
		}
		p {
			padding: 0;
		}
		a {
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
		.copyright {
			float: left;
			width: 50%;
			@include break($mobile) {
				text-align: center;
				float: none;
				width: auto;
				padding-bottom: 10px;
			}
		}
		.privacy {
			float: right;
			a {
				color: inherit;
				text-decoration: underline;
			}
			@include break($mobile) {
				text-align: center;
				float: none;
			}
		}

	}

}
